<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") -%>

    <body class="bodyloginnuevo">
        <div class=containerr>
            <%- include("partials/header") -%>
            <hr>

            
            <form action="/cargaProduc" method="POST" class="registro-form" enctype="multipart/form-data">
                <div class="form-cargaproduc">
                    <h5>Carga de Producto</h5>
            
            
                    <div>
                        <div class="caracteristicas">
                            <input class="labModelo" type="text" placeholder="Modelo:">
                            <div class="caja-controls-cargaproduc">
                            <input class="controls-cargaproduc" type="text" name="model" value="<%= locals.oldData ? oldData.model : null  %>" placeholder="">
                            <% if (locals.errors && errors.model) { %>
                                <p class = "erroresCargaProduc">
                                    <%= errors.model.msg %>
                                </p>
                            <% } %>
                             </div>
                            <input class="labModelo" type="text" placeholder="Fabricante:">
                            <select class="marca" name="marcas">
                                
                                <% for (let i=0; i < marcas.length; i++) { %>
                                    <option value= <%=marcas[i].ID %>>
                                        <%= marcas[i].nombre%>
                                    </option>
                        
                                    <% } %>
                                    
                            </select>
                        
                            
                        
                        
                        
                            <input class="labModelo" type="text" placeholder="Ancho:">
                            <div class="caja-controls-cargaproduc">
                            <input class="controls-cargaproduc" type="text" name="ancho" value="<%= locals.oldData ? oldData.ancho : null  %>" placeholder="">
                            <% if (locals.errors && errors.ancho) { %>
                                <p class = "erroresCargaProduc">
                                    <%= errors.ancho.msg %>
                                </p>
                            <% } %>
                            </div>
                            <input class="labModelo" type="text" placeholder="Perfil:">
                            <div class="caja-controls-cargaproduc">
                            <input class="controls-cargaproduc" type="text" name="perfil" value="<%= locals.oldData ? oldData.perfil : null  %>" placeholder="">
                            <% if (locals.errors && errors.perfil) { %>
                                <p class = "erroresCargaProduc">
                                    <%= errors.perfil.msg %>
                                </p>
                            <% } %>
                            </div>
                            <input class="labModelo" type="text" placeholder="Rodado:">
                            <div class="caja-controls-cargaproduc">
                            <input class="controls-cargaproduc" type="text" name="rodado" value="<%= locals.oldData ? oldData.rodado : null  %>" placeholder="">
                            <% if (locals.errors && errors.rodado) { %>
                                <p class = "erroresCargaProduc">
                                    <%= errors.rodado.msg %>
                                </p>
                            <% } %>
                            </div>
                            <input class="labModelo" type="text" placeholder="Precio:">
                            <div class="caja-controls-cargaproduc">
                            <input class="controls-cargaproduc" type="text" name="precio" value="<%= locals.oldData ? oldData.precio : null  %>" placeholder="">
                            <% if (locals.errors && errors.precio) { %>
                                <p class = "erroresCargaProduc">
                                    <%= errors.precio.msg %>
                                </p>
                            <% } %>
                            </div>
                            <div class="exam">
                                <label class="cargaavatar">Avatar :</label>
                                <input type="file" name="avatar">
                                <% if (locals.errors && errors.avatar) { %>
                                    <p class = "erroresCargaProducAvatar">
                                        <%= errors.avatar.msg %>
                                    </p>
                                <% } %>
                            </div>
                                <input class="buttons-register" type="submit" value="Enviar">
            
                        </div>
                            
            
            
            
                    </div>
                </div>
            </form>
        </div>
        <%- include("partials/footer") -%>

    </body>

</html>