<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") -%>

    <body class="bodyloginnuevo">
        <div class=containerr>
            <%- include("partials/header") -%>
            <hr>

            
            <form action="/detalleUsuario/<%= user.ID %>?_method=PUT" method="POST" class="registro-form" enctype="multipart/form-data">
                <div class="form-register">
                    <h5>Editar informacion</h5>

                    <div class="input-register">
                        <div class="controlsuno">
                            <input class="controls-register" type="text" name="nombre" value="<%= user.nombre %>" placeholder="Nombre">
                            <input class="controls-register" type="text" name="apellido" value="<%= user.apellido %>" placeholder="Apellido">
                        </div>
                        <div class="controlsdos">
                            <input class="controls-register" type="email" name="email" value="<%= user.email %>" placeholder="Email">
                            <input class="controls-register" type="password" name="password" value="<%= user.password %>" placeholder="Password">
                        </div>
                    </div>
                    <div class="optionregister">
                        <div class="exam">
                            <label>Avatar :</label>
                            <input type="file" name="avatar">
                            <% if (locals.errors && errors.avatar) { %>
                                <p class = "erroreslogin">
                                    <%= errors.avatar.msg %>
                                </p>
                            <% } %>
                        </div> 
                       
                        <input class="buttons-register" type="submit" value="Editar">
                        
                    </div>
                    
            
            
            
                </div>
            </form>
        </div>
        <%- include("partials/footer") -%>

    </body>

</html>