<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") -%>

    <body class="bodyloginnuevo">
        <div class=containerr>
            <%- include("partials/header") -%>
            <hr>

            
            <form action="/editProduc/<%= products.ID %>?_method=PUT" method="post" class="registro-form" enctype="multipart/form-data">
                <div class="form-cargaproduc">
                    <h5>Edicion de Producto</h5>
                    
                    
                    <div class="caracteristicas">
                        <input class="labModelo" type="text" placeholder="Modelo:">
                    
                    
                        <input class="controls-cargaproduc" type="text" name="modelo" value="<%= products.modelo %>" placeholder="">
                        <input class="labModelo" type="text" placeholder="Ancho:">
                        <input class="controls-cargaproduc" type="text" name="ancho" value="<%= products.ancho %>" placeholder="">
                        <input class="labModelo" type="text" placeholder="Perfil:">
                        <input class="controls-cargaproduc" type="text" name="perfil" value="<%= products.perfil %>" placeholder="">
                        <input class="labModelo" type="text" placeholder="Rodado:">
                        <input class="controls-cargaproduc" type="text" name="rodado" value="<%= products.rodado %>" placeholder="">
                        <input class="labModelo" type="text" placeholder="Precio:">
                        <input class="controls-cargaproduc" type="text" name="precio" value="<%= products.precio %>" placeholder="">
                        
                        <div class="exam">
                            <label>Avatar :</label>
                            <input type="file" name="avatar">
                        </div>
                        <input class="buttons-register" type="submit" value="Enviar">

                    </div>
                    
                    
            
            
            
                </div>
            </form>
        </div>
        <%- include("partials/footer") -%>

    </body>

</html>