




<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") -%>

    <body class="bodyloginnuevo">
        <div class=containerr>
            <%- include("partials/header") -%>
            <hr>

            <form action="/login" method="POST" class="registro-form">
                <div class="form-login">
                    <h5>Iniciar Sesión</h5>
                    <input class="controls" type="email" name="nameUsers" value="" placeholder="Usuario">
                    <input class="controls" type="password" name="password" value="" placeholder="Contraseña">
                    <div>
                        <label>Recordame</label>
                        <input type="checkbox" name="recordame">
                        <% if (locals.errors && errors.email){ %>
                            <p class = "errores">
                            <%= errors.email.msg %>
                            
                            </p>
                        <% } %>
                        <% if (locals.errors && errors.password) { %>
                            <p class = "errores">
                                <%= errors.password.msg %>
                            </p>
                        <% } %>

                        
                        
                        
                    </div>
                    <input class="buttons" type="submit" name="" value="Ingresar">
                    
                    <p class="olvpass"><a href="#">¿Olvidastes tu Contraseña?</a></p>
                    
                    
                   
                </div>
                
            </form>
        </div>
        <%- include("partials/footer") -%>

    </body>

</html>