




<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") -%>

    <body class="bodyloginnuevo">
        <div class=containerr>
            <%- include("partials/header") -%>
            <hr>

            <form action="/login" method="POST" class="login-form">
                
                <div class="form-login">
                    <h5>Iniciar Sesión</h5>
                    <div class="controlsunocaja">
                    <input class="controls"  name="email" value="<%= locals.oldData ? oldData.email : null  %>" placeholder="Usuario">
                    
                    <% if (locals.errors && errors.email) { %>
                        <p class = "erroreslogin">
                            <%= errors.email.msg %>
                        </p>
                        <% } else {%>
                            <div class="error-front-email"></div>
                        <% }%>
                        
                    </div>
                    <input class="controlspass" type="password" name="password" value="" placeholder="Contraseña">
                    
                    <% if (locals.errors && errors.password) { %>
                        <p class = "erroresloginpass">
                            <%= errors.password.msg %>
                        </p>
                        <% } else { %>
                            <div class="error-front-contraseña"></div>
                            <% }  %>
                    <div>
                        <label>Recordame</label>
                        <input type="checkbox" name="recordame">
                        

                        

                        
                        
                        
                    </div>
                    <input class="buttons" type="submit" name="" value="Ingresar">
                    
                    <p class="olvpass"><a href="#">¿Olvidastes tu Contraseña?</a></p>
                    
                    
                   
                </div>
                
            </form>
        </div>
        <%- include("partials/footer") -%>
        <script src="/js/login-form.js"></script>
    </body>

</html>