




<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") -%>

    <body class="bodyloginnuevo">
        <div class=containerr>
            <%- include("partials/header") -%>
            <hr>

            <form action="/login" method="POST" class="registro-form">
                <div class="form-login">
                    <h5>Iniciar Sesión</h5>
                    <div class="controlsunocaja">
                    <input class="controls" type="email" name="email" value="" placeholder="Usuario">
                    <% if (locals.errors && errors.email) { %>
                        <p class = "erroreslogin">
                            <%= errors.email.msg %>
                        </p>
                    <% } %>
                    </div>
                    <input class="controls" type="password" name="password" value="" placeholder="Contraseña">
                    <% if (locals.errors && errors.password) { %>
                        <p class = "erroresloginpass">
                            <%= errors.password.msg %>
                        </p>
                    <% } %>
                    <div>
                        <label>Recordame</label>
                        <input type="checkbox" name="recordame">
                        

                        

                        
                        
                        
                    </div>
                    <input class="buttons" type="submit" name="" value="Ingresar">
                    
                    <p class="olvpass"><a href="#">¿Olvidastes tu Contraseña?</a></p>
                    
                    
                   
                </div>
                
            </form>
        </div>
        <%- include("partials/footer") -%>

    </body>

</html>