<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") -%>

    <body class="products">
        <header>
            <%- include("partials/header") -%>
                <hr>
        </header>
                <main class="container-product">
                    <div class="big-container">

                        <div class="right-containerProduclista">
                            <div class="header">
                                
                                <h3>PRODUCTOS </h3>
                               <!-- 
                                   // Recorro variable de products, e imprimo cada marca correspondiente a dicho producto //
                                
                                <% for (let i = 0; i < products.length; i++) { %>
                                    <% if (products[i].marca) { %>
                                        <%= products[i].marca.nombre %>
                                    <% } %>
                                    <% } %> 
                                
                                -->
                            </div>

                            <div class="productos">
                                <% products.forEach(function(product){ %> <!--Recordar que product es cada elemento de la lista-->
                                    <!--productCard-->
                                    <%- include('partials/productCards', {product}) %>
                                    <!--/productCard-->
                                    <% }); %>
                               

                            </div>
                        </div>
                </main>
        

        <%- include("partials/footer") -%>

    </body>

</html>