<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") -%>

    <body class="products">
        <div class=containerProductId>
            <%- include("partials/header") -%>
                <hr>
                <main>
                    <div class="proDet">
                                <h3>Caracteristicas</h3>
                            

                            <div class="productsDetails">

                                <img  class="imagenproductid" src="../img/<%= product.avatar %>">
                                <div class="descrip">
                                    <div class="titdescripcion">
                                   <h1 class="titdesc">Neumatico <%= product.marca.nombre %></h1>
                                   <p>estrellas de calificacion</p>
                                    </div>  
                                    
                                    <h1 class="titmodelo"><%= product.modelo %></h1>

                                    <p class="detalleproduc"><%= product.ancho %>  /  <%= product.perfil %>  /  <%= product.rodado %></p>
                                    
                                    <h2 class="titprecio">$ <%= product.precio %></h2>
                                    
                                    
                                    
                                    <% if (isLogged) { %>
                                        
                                        <div class="botones-edit">
                                        <a href="/editProduc/<%= product.ID %>"><button class="boton-editar" type="submit">Editar</button></a>
                                        <form method="POST" action="/delete/<%= product.ID %>?_method=DELETE">
                                            <button class="boton-eliminar" type="submit">Eliminar</button>
                                        </form>
                                    </div>
                                        <% } %>
                                </div>

                               
                            </div>
                    </div>
                </main>

                
        </div>
        <%- include("partials/footer") -%>

    </body>

</html>