<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") -%>

    <body class="bodyuser">
        <%- include("partials/header") -%>
        <div class=container>
            
                <hr>
                <main class="mainuser">
                    <div class="container-productProfile">
                        <div class="right-containerProduc">
                        
                        
                            <div class="cajaa1">
                                <h5>Avatar:
                                        
                                </h5>
                                <center>
                                <img   src="../img/<%= locals.userLogged.avatar %>" class="imgprofile">
                                </center>
                                <br>
                                <br>
                                <div class="alert alert-success">
                                    
                                </div>
                            
                            </div>    

                            <div class="cajaa2">
                                <div class="datospersonales">
                                    <label >Nombre : </label>
                                    <h3 class="nombreprofile"><%= user.nombre %></h3> 

                                    <label >Apellido : </label>
                                    <h3> <%= user.apellido %></h3>

                                    <label >Correo Electronico : </label>
                                    <h3 class="emailprofile"><%= user.email %></h3>
                                    <a href="/detalleUsuario/<%= user.ID%>"><button class="boton-editarusuario" type="submit">Editar Usuario</button></a>

                                
                                </div>
                                
                            </div>
                          
                        </div>

                      </div>
                </main>
        </div>

        
        
        

        <%- include("partials/footer") -%>

    </body>

</html>