<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") -%>

    <body class="bodyuser">
        <div class=container>
            <%- include("partials/header") -%>
                <hr>
                <main class="mainuser">
                    <div class="container-product">
                        <div class="right-containerProduc">
                        
                        
                            <div class="cajaa1">
                                <h5>Avatar:
                                        
                                </h5>
                                <center>
                                <img width="300" src="../img/<%= locals.userLogged.avatar %>" class="imgprofile">
                            </center>
                                <br>
                                <br>
                                <div class="alert alert-success">
                                    
                                </div>
                            
                            </div>    

                            <div class="cajaa2">
                                <div class="datospersonales">
                                    <label >Nombre : </label>
                                    <h3 class="nombreprofile"><%= user.nombre %></h3> 

                                    <label >Apellido : </label>
                                    <h3> <%= user.apellido %></h3>

                                    <label >Correo Electronico : </label>
                                    <h3 class="emailprofile"><%= user.email %></h3>
                                </div>
                                
                            </div>
                           
                        </div>
                      </div>
                </main>
        </div>

        <div class="botones">
            >
            <a href="/detalleUsuario/<%= user.ID%>">Editar</a>
           
        </div>
        
        

        <%- include("partials/footer") -%>

    </body>

</html>